services:
  postgres:
    image: ghcr.io/ferretdb/postgres-documentdb:17-0.106.0-ferretdb-2.5.0
    restart: on-failure
    environment:
      - POSTGRES_USER=username
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=postgres
    volumes:
      - ./data:/var/lib/postgresql/data

  ferretdb:
    image: ghcr.io/ferretdb/ferretdb:2.5.0
    restart: on-failure
    ports:
      - 27017:27017
    environment:
      - FERRETDB_POSTGRESQL_URL=postgres://username:password@postgres:5432/postgres

  redis:
    image: redis:7-alpine
    restart: on-failure
    ports:
      - 6379:6379
    command:
      - redis-server
      - --appendonly
      - "yes"
    volumes:
      - ./redis-data:/redis-data

  redisinsight:
    image: redis/redisinsight
    restart: on-failure
    ports:
      - 5540:5540
    depends_on:
      - redis
    volumes:
      - ./redisinsight-data:/redisinsight-data